h1 {
	border-left: 2px solid #DBD4C7;
	padding-left: 1em;
	font-size: 1em;
	width: 600px;
	margin: 20px 0px;
	text-align: left;
}
.arrow-up {
	margin-left: -20px;
	width: 20px;
	display: inline-block;
	color: #999;
	cursor: pointer;
}
.arrow-down {
	margin-left: -20px;
	width: 20px;
	display: inline-block;
	color: #999;
	cursor: pointer;
}
.topic {
	font-family: Tahoma, Geneva, sans-serif;
	font-size: 12px;
	padding: 3px 10px 3px 25px;
	margin-top: 2px;
	background-color: #f6f6ef;
}
.topic .title {
	font-weight: bold;
	padding-right: 5px;
}
.topic .points {
	padding-left: 5px;
}
.topic .points, .topic .time, .topic .comments, .topic .bar {
	font-size: 11px;
	color: #999;
}
.reply .time, .reply .btn_link {
	font-size: 12px;
	color: #999;
}
a.btn_link:link {
	color: #999;
}
.topic .bar, .reply .bar {
	padding: 0px 5px;
}
.reply {
	display: block;
	padding-top: 5px;
	padding-left: 25px;
	padding-bottom: 5px;
	background-color: #f6f6ef;
}
.reply .text {
	display: block;
	padding-left: 5px;
	padding-right: 10px;
	padding-bottom: 10px;
	padding-top: 10px;
}
.reply .btn_reply {
	background-color: #f6f6ef;
	padding-left: 5px;
}
.topic .btn_reply {
	background-color: #f6f6ef;
	padding-left: 5px;
}
.replyForm {
	background-color: #f6f6ef;
	padding-left: 5px;
	padding-bottom: 1px;
}
.reply #comment, .reply .inputLink {
	border: 1px solid #cccccc;
}
input.inputLink, textarea {
	width: 25em;
}
